
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 50px;
    height: 50px;
    z-index: 9999;
    transition: all 300ms   cubic-bezier(0.16, 1, 0.3, 1);
  
      border: 2px solid red;
      border-radius: 100%;
      position: fixed;
      transform: translate(-50%, -50%);
  
      transition-property: background-color, opacity, transform, mix-blend-mode;
      z-index: 9999;
      mix-blend-mode:exclusion;
  
  
    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
     // background-color: red;
      opacity: 0.8;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    //  animation: pulse 1s infinite;
      transition: all 300ms   cubic-bezier(0.16, 1, 0.3, 1);
  
    }
  
    &.clicked {
      transform: scale(0.9);
    }
  
    &.back,&.next,&.img{
      display:flex;
      align-items: center;
      justify-content: center;
      height: 15.26vw;
      width: 15.26vw;
  
      &::after{
        display:flex;
        content:"Back";
        color:#fff;
        font-size:3vw;
      }
  
      .circle{
        height: 15.26vw;
        width: 15.26vw;
      }
    }
  
    &.next{
      &::after{
        display:flex;
        content:"Next";
        color:#fff;
        font-size:3vw;
      }
    }
  
    &.img{
      &::after{
        display:flex;
        content:"+";
        color:#fff;
        font-size:3vw;
      }
    }
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
  
    70% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }