@use 'variables' as *;

$phi: 1.6180339887498948482;

.o-grid{
    width:100%;
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-auto-rows: auto ;
    counter-reset:div;
    gap:2rem;
  }



  .o-grid__item{
    position:relative;
    overflow: hidden;

    grid-column: auto /span 6;
    grid-row: auto /span 2;

    width:100%;
    cursor: pointer;

    &:nth-last-of-type(2n + 1){
      top:200px;
    }

     &:nth-last-of-type(2n + 2){
      grid-column: auto /span 6;
    }

  }

  .o-grid__item--cs{
    position:relative;
    overflow: hidden;

    grid-template-columns:repeat(12, 1fr);
    
    width:100%;
    cursor: pointer;

    // grid-column: auto /span 12;
    // grid-row: auto /span 2;
    grid-column: auto /span 4;
    grid-row: auto /span 2;


    @media only screen and (min-width: $desktop-min) {

      grid-column: auto /span 4;
      grid-row: auto /span 2;
      }


      svg { display: none; }

  }


  .noise{
    filter: url("#filter");
  }

  .img-cover{
    object-fit: cover;
    position:absolute;
    width:100%;
    height:100%;
  }

 .img-landscape{
  aspect-ratio:   17 / 9;
  }

  .img-portrait{
    aspect-ratio:   9 / 9;
    }

  //every n starting from n
  // .o-grid__item:nth-child(3n + 3){
  //   grid-column: auto /span 12;
  //   aspect-ratio: 16 / 9;
  // }



  // .o-grid__item:nth-child(4n + 4){
  //   aspect-ratio:  9 / 17;
  // }

  .o-grid__item--cs:nth-child(4n + 5){
    @media only screen and (min-width: $desktop-min) {

    grid-column: auto /span 8;
    grid-row: auto /span 2;
    }
  }


//   //reset for loop beginning
//   .o-grid__item:nth-last-child(-n+2){
//     grid-column: auto /span 12!important;
//     grid-row: auto /span 2!important;
// }
// .o-grid__item:nth-last-child(-n+1){
//   grid-column: auto /span 12!important;
//   grid-row: auto /span 1!important;
// }




.o-grid__item:before {
  position: absolute;
  top:0;
  left:0;
  counter-increment:div;
  content:counter(div);
  margin:auto;
  font-size:40px;
  z-index:999;
  color:hotpink;
}