@use '../variables' as *;

.c-header {
  position: fixed;
  top:0;
  height: 90px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;

    li {
      a {
        font-size: 1.24rem;
        line-height: 1.39;
        font-weight: 400;
        letter-spacing: 1.4px;
        font-weight:500;
        text-decoration: none;
        margin-left: 40px;
        padding: 0 10px;
        margin: 0;

        text-transform: uppercase;

        color: $text-light;
        text-decoration: none;
  
        &[aria-current] {
          color: $text;
        }
      }
    }

  }
  

}
