
.c-reel{
    width:100vw;
    height:100vh;
    background-color: #333;
    color:#fff;

    &--content{
        position: absolute;
        left:5rem;
        bottom:5rem;
    }

    &--skip{
        position: absolute;
        right:5rem;
        bottom:5rem;
    }
}