.text-anim{
    display: inline-flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    gap: 0.1rem 0.7rem;
    line-height: 1.23;
    text-wrap: balance;
  //  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
//  color:#000;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
  }

.text-anim-word{
    font-size: 3rem;
 //   perspective: 3.5em;
  //  transform-style: preserve-3d;
    display: inline-flex;
    flex-wrap: wrap;
    word-wrap: break-word;
   // position: relative;
    display: flex;
    flex-direction: row;
   // text-align: center;

  // color: transparent;


    //  @supports (background-clip:text) or (-webkit-background-clip:text) {
    //     color: transparent;
    //     background-clip: text;
    //     -webkit-background-clip: text;
    //   //  background-image: url(https://media.giphy.com/media/xULW8Fw2ZhznUptrYA/giphy.gif);
    //     background-size: cover;
    //     background-position: center;
    //   }
    

  }

  .text-anim-letter{
  //   position: relative;
  //   display: flex;
  // flex-direction: row;
    gap:0.7rem;
    transform-origin: top;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
   // perspective: 3.5em;

  }



//   .text-anim-word{
//     font-size: 3rem;
//     perspective: 3.5em;
//     transform-style: preserve-3d;
//     display: inline-flex;
//     flex-wrap: wrap;
//     word-wrap: break-word;
//     position: relative;
//     display: flex;
//     flex-direction: row;
//    // text-align: center;

//    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
//    background-size: cover;
//    color: transparent;
//    -webkit-background-clip: text;
//      background-clip: text;

//      span span{
//      // position: relative;
//       display: inline;
//     flex-direction: row;
//      // gap:0.7rem;
//      // transform-origin: top;
//       // background-clip: text;
//       // -webkit-text-fill-color: transparent;
//       // -webkit-background-clip: text;
//       // -webkit-text-fill-color: transparent;
//      perspective: 3.5em;
  
//      }
//   }


// $from-r:  11;
// $from-g: 239;
// $from-b: 255;
// $to-r: 95;
// $to-g: 0;
// $to-b: 159;
// $from: rgba($from-r, $from-g,$from-b, 1);
// $to: rgba($to-r, $to-g,$to-b, 1);
// $number: 15;

// // background: rgb(11,239,255);
// // background: linear-gradient(142deg, rgba(11,239,255,1) 0%, rgba(95,0,159,1) 68%);

// @function calcRgbaColor($index,$leftSide) {
//   $add : $index + 1;
//   @if $leftSide == true {
//     $add : $index - 1;
//   }
//   @return rgba($from-r + $add*($to-r - $from-r)/$number,$from-g + $add*($to-g - $from-g)/$number,$from-b + $add*($to-b - $from-b)/$number, 1);
// }
// @for $i from 1 through $number {
//     .text-anim > .text-anim-word:nth-child(#{$i}) {
//         color: transparent;
//         background-clip: text;
//         -webkit-background-clip: text;
//         background-image: -webkit-linear-gradient(to bottom right,calcRgbaColor($i,true),calcRgbaColor($i,false));
//         background-image: linear-gradient(to bottom right,calcRgbaColor($i,true),calcRgbaColor($i,false));
//   }
// }



// h1{
//   font-size:3rem;
// }

// h1 span span {
//   position: relative;
//   display: inline-block;
//  // animation: move-text-color 0.9s forwards cubic-bezier(0.37, 0, 0.63, 1);
//   opacity: 0;
//   transform-style: preserve-3d;
//   transform-origin: 0 100%;
//   right:-20px;
//   transition: transform 2s ease;
//   color:red;
//   display:inline-block;
//   margin-right:20px;

// text-shadow: -1px 39px 49px -12px rgba(117, 108, 255, 0.5);
// }

// h1 > span{
//    // animation: my-animation 300ms ease-out;
   
//     // @for $i from 1 through 50 {
//     //   &:nth-child(#{$i}) {
//     //     animation-delay: 100ms * $i;
//     //   }
//     // }
  
//   }
  @keyframes my-animation {
    0% {
    //  opacity: 0;
    //  filter: blur(20px);
      y:100px;
    }
  
    100% {
      y:300px;
     // opacity: 1;
   //   filter: blur(0px);
    }
  }
  
  // hidden: {
  //   opacity: 0,
  //   filter: 'blur(20px)',
  //   y:'30px',
  // },
  // show: {
  //   y:'0',
  //   opacity: 1,
  //   filter: 'blur(0px)',
  //   transition: {
  //     duration: 1.6, // custom duration for opacity property only
  //     opacity: {
  //       ease: [0.33, 1, 0.68, 1],
  //       duration: 0.6 // custom duration for opacity property only
  //     },
  
  //   },
  // },
  
  
  @keyframes move-text-color {
    
    0% {
      opacity: 0;
      color: #3E5C76;
      right:-20px;
       transform:scaleY(1) rotate(3deg);     
    }
  
    50% {
      color: #EC058E;
  
    }
  
  
    70%{
      transform: scaleY(0.9); 
    }
  
    100% {
      opacity: 1;
      color: #000;
      right:0px;
     transform: scaleY(1) rotate(0deg); 
    }
  
  }
  .content{
    max-width: 70vh;
    height: auto;
    margin-bottom:6rem;
    //margin: 13% auto auto  8%;
  }