.position-input {
  /* display: grid;
  grid-template-columns: repeat(3, 16px);
  gap: 4px; */
  background: red;


} 

.button {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
  }