
// take 4
.grid-template-4{
    ---columns: 3;
    --gapSize: 1.5rem;
    ---colWidth: calc(var(--grid-inner-width) / var(---columns));
    display:grid;
    gap: var(--gapSize);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(1.3333333333333333 * var(---colWidth)) calc(1 * var(---colWidth));
  
    > *{
      position: relative;
    }
  
    > :nth-child(1){
      ---col: 1;
        ---row: 1;
        ---width: 1;
        ---height: 1;
    grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
  
    > div{
      width: 100%;
      height: 100%;
    }
  
    }
  
   > :nth-child(2){
      ---col: 2;
        ---row: 1;
        ---width: 2;
        ---height: 1;
    grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
  
    > div{
      width: 100%;
      height: 100%;
    }
    }
  
    > :nth-child(3){
      ---col: 1;
      ---row: 2;
      ---width: 2;
      ---height: 1;
    grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
  
    > div{
      width: 100%;
      height: 100%;
    }
    }
  
    > :nth-child(4){
      ---col: 3;
      ---row: 2;
      ---width: 1;
      ---height: 1;
      grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
  
      > div{
        width: 100%;
        height: 100%;
      }
    }
  
  }
  
  
  //16:9 r=take 2
  .grid-template-2 {   
    ---columns: 3;
    --gapSize: 1.5rem;
    ---colWidth: calc(var(--grid-inner-width) / var(---columns)); 
    display: grid;
    gap: var(---gapSize);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: calc(1.25* var(---colWidth));
  
      > *{
        position: relative;
      }
  
    > div{
      width: 100%;
      height: 100%;
    }
  
      > :nth-child(1){
        ---col: 1;
        ---row: 1;
        ---width: 1;
        ---height: 1;
        grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
        position: relative;
  
        > div{
          width: 100%;
          height: 100%;
        }
  
       }
  
     >  :nth-child(2){
        ---col: 2;
        ---row: 1;
        ---width: 2;
        ---height: 1;
        grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
        position: relative;
  
        > div{
          width: 100%;
          height: 100%;
        }
       }
  }
  
  
  
  .grid-template-6{
    ---columns: 3;
    --gapSize: 1.5rem;
    ---colWidth: calc(var(--grid-inner-width) / var(---columns));
      display:grid;
    gap: var(--gapSize);
  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(0.75* var(---colWidth)) calc(0.5* var(---colWidth)) calc(0.75* var(---colWidth));
  
    > *{
      position: relative;
    }
  
    > div{
      width: 100%;
      height: 100%;
    }
  
   > :nth-child(1){
      ---col: 1;
      ---row: 1;
      ---width: 1;
      ---height: 2;
      grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
      position: relative;
      > div{
        height: 100%;
       }
    }
  
   > :nth-child(2){
      ---col: 2;
      ---row: 1;
      ---width: 1;
      ---height: 1;
      grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
      position: relative;
      > div{
        height: 100%;
       }
    }
  
  
   > :nth-child(3){
      ---col: 3;
      ---row: 1;
      ---width: 1;
      ---height: 2;
      grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
      position: relative;
      > div{
        height: 100%;
       }
    }
  
   > :nth-child(4){
      ---col: 1;
      ---row: 3;
      ---width: 1;
      ---height: 1;
      grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
      position: relative;
      > div{
        height: 100%;
       }
    }
  
   > :nth-child(5){
      ---col: 2;
      ---row: 2;
      ---width: 1;
      ---height: 2;
      grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
      position: relative;
      > div{
        height: 100%;
       }
    }
  
   > :nth-child(6){
      ---col: 3;
      ---row: 3;
      ---width: 1;
      ---height: 1;
      grid-area: var(---row) / var(---col) / span var(---height) / span var(---width);
      position: relative;
      > div{
        height: 100%;
       }
    }
  }
  