@use 'variables' as *;
@use 'fontface';
@use 'type';
@use 'bento';
@import 'images/image';
@import 'accessibility';

@import 'tailwindcss';


    .aspect-video {
      aspect-ratio: 16 / 9;
    }
    .aspect-auto {
      aspect-ratio: auto;
    }
    .aspect-portrait {
      aspect-ratio: 9 / 16;
    }
    .aspect-landscape {
      aspect-ratio: 10 / 8;
    }
  

// h1{
//   font-weight: 600;
// }

body {
  background-color: var(--body-background-color);
  transition: background-color 0.3s ease;
}

html,
body,
#__next{
  height  : 100%;
  width: 100%;
 // overflow: hidden;
}

body{
    margin:0;

    &.prevent-scroll{
     overflow: hidden;
    }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  // overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 

.lenis.lenis-stopped {
  // overflow: hidden;
}

.hotspot{
position: absolute;
z-index:9999;
display: flex;
align-items: center;
justify-content: center;
  &__dot{
    position:absolute;
    width:1rem;
    height:1rem;
    border-radius:50%;
    background-color: aqua;
  }

  &__content-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
  }
  &__content{
padding:1rem;
position:absolute;
//top:1rem;
left:1rem;
background-color: #fff;
border-radius: 1rem;
display:none;
}

  &:hover{
    .hotspot__content{
      display: block;
    }
  }

}

#globalLoader{
  position: fixed;
  z-index: 1700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hotpink;
  display: flex;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

.goo{
  filter: url("#goo");
}

#svg-filter{
  position: fixed;
  left:9999px;
  top:0;
}

::selection{
  color:var(--body-background-color);
   background-color:var(--accent-pri);
 }


 .grid-gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: auto;


  @media (min-width:  768px) {
    grid-template-columns: repeat(8, 1fr);
   }

  .grid__item {
    aspect-ratio: 1 / 1;
    width: 100%;

    @media (min-width: 768px) {
    // Pattern A (1-6)
    &:nth-child(12n+1) {
      grid-column: span 4;
      grid-row: span 4;
      aspect-ratio: 2 / 2;
    }

    &:nth-child(12n+2),
    &:nth-child(12n+3),
    &:nth-child(12n+4),
    &:nth-child(12n+5) {
      grid-column: span 2;
      grid-row: span 2;
      aspect-ratio: 2 / 2;
    }

    &:nth-child(12n+6) {
      grid-column: span 4;
      grid-row: span 2;
      aspect-ratio: 4 / 2;
    }

    // Pattern B (7-12) - Reversed
    &:nth-child(12n+7) {
      grid-column: span 4;
      grid-row: span 2;
      aspect-ratio: 4 / 2;
    }

    &:nth-child(12n+8),
    &:nth-child(12n+9),
    &:nth-child(12n+10),
    &:nth-child(12n+11) {
      grid-column: span 2;
      grid-row: span 2;
      aspect-ratio: 2 / 2;
    }

    &:nth-child(12n+12) {
      grid-column: span 4;
      grid-row: span 4;
      aspect-ratio: 2 / 2;
    }
  }
  }
}


.grid-gallery2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;

   @media (min-width: 1200px) {
    grid-template-columns: repeat(8, 1fr);
   }
   
  .grid__item {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 'auto';

    @media (min-width: 768px) {
      // Pattern A (1-6)
      &:nth-child(12n+1) {
        grid-column: span 2;
        grid-row: span 4;
        aspect-ratio: 2 / 4;
      }

      &:nth-child(12n+2),
      &:nth-child(12n+3),
      &:nth-child(12n+4),
      &:nth-child(12n+5) {
        grid-column: span 2;
        grid-row: span 2;
        aspect-ratio: 2 / 2;
      }

      &:nth-child(12n+6) {
        grid-column: span 4;
        grid-row: span 2;
        aspect-ratio: 4 / 2;
      }

      // Pattern B (7-12)
      &:nth-child(12n+7) {
        grid-column: span 4;
        grid-row: span 2;
        aspect-ratio: 4 / 2;
      }

      &:nth-child(12n+8),
      &:nth-child(12n+10),
      &:nth-child(12n+11),
      &:nth-child(12n+12) {
        grid-column: span 2;
        grid-row: span 2;
        aspect-ratio: 2 / 2;
      }

      &:nth-child(12n+9) {
        grid-column: span 2;
        grid-row: span 4;
        aspect-ratio: 2 / 4;
      }
    } 
  }
}


.animated-bg {
  background-color: var(--body-background-color);
  transition: background-color 0.6s ease-in-out;
}


.modal-active{
  margin-right: 300px;
  position: relative;
  display: flex;

  .theme-editor-active{
    margin-right: 400px;
  }

  .theme-editor-active-offset{
   width: calc(100% - 300px);
  }
}


.richtext{
  code{
    display: block;
    width: 100%;
    background-color: var(--body-background-color);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-family: var(--font-mono);
    color: var(--text-color);
  }

  table{
    // display: flex;
    // flex-direction: column;
    width: 100%;
    border: 1px solid var(--surface2);
    border-radius: 0.5rem;
    font-size: 0.875rem;
border-collapse:initial;

    thead{
      background-color: var(--surface2);
    }

    tr:not(:last-child){
      th, td{
        border-bottom: 1px solid var(--surface2);
      }
     
        
    }
    th{color: var(--heading-color);}
    th, td{
     // white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:not(:last-child){
        border-right: 1px solid var(--surface2);
      }
     // border: 1px solid var(--text-color);
      padding: 0.3rem;
    }
  }
}




// /* Base horizontal slider with 1px red thumb and selected track */
// .slider-line-thumb {
//   appearance: none;
//   -webkit-appearance: none;
//   width: 100%;
//   height: 16px;
//   background: transparent;
//   position: relative;
// }

// /* Track styling (before or main gradient) */
// .slider-line-thumb::-webkit-slider-runnable-track {
//   height: 16px;
//   background: linear-gradient(to right, var(--track-filled, red) 0%, var(--track-filled, red) var(--progress, 50%), var(--track-empty, #ccc) var(--progress, 50%), var(--track-empty, #ccc) 100%);
//   border-radius: 8px;
// }

// .slider-line-thumb::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 1px;
//   height: 16px;
//   background: red;
//   pointer-events: all;
//   cursor: pointer;
//   margin-top: 0; /* Align vertically */
//   position: relative;
// }

// /* Firefox support */
// .slider-line-thumb::-moz-range-track {
//   height: 16px;
//   background: linear-gradient(to right, var(--track-filled, red) 0%, var(--track-filled, red) var(--progress, 50%), var(--track-empty, #ccc) var(--progress, 50%), var(--track-empty, #ccc) 100%);
//   border-radius: 8px;
// }

// .slider-line-thumb::-moz-range-thumb {
//   width: 1px;
//   height: 16px;
//   background: red;
//   border: none;
//   cursor: pointer;
// }
// .articles-list-stack * {
//   overflow: visible !important;
//   transform: none !important;
// }



  .modal-active .o-edit-outline{
  outline: 2px dashed magenta;
  }


  .crt-text {
    color: white;
    font-family: monospace;
    font-size: 2em;
    /* Apply the SVG filter using its ID */
    filter: url(#crt-effect);
    /* Optional: add some scanline effect with CSS background */
    background: #000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
  }

  $scan-width: .2rem;
  $scan-crt: true;
  $scan-fps: 60;
  $scan-color: rgba(#000, .25);
  $scan-z-index: 2147483648;
  $scan-moving-line: true;
  $scan-opacity: .75;
  
  @mixin scan-moving($scan-moving-line) {
    @if $scan-moving-line == true {
      animation: scan-moving 6s linear infinite;
    }
    @else { animation: none; }
  }
  
  @mixin scan-crt($scan-crt) {
    @if $scan-crt == true {
      animation: scan-crt 1s steps($scan-fps) infinite;
    }
    @else { animation: none; }
  }
  
  #switch+.switch-label {
    background: #444;
    background-image: radial-gradient(circle at left top, lighten(#444, 10%), darken(#444, 10%));
    box-shadow:
      -.1rem -.1rem 0 lighten(#444, 10%),
      .1rem .1rem 0 darken(#444, 10%),
      0 0 0 .2rem darken(#444, 20%),
      .1rem .1rem 0 .2rem #444;
  
    &:after {
      background: darken(#0f0, 40%);
    }
  }
  #switch:checked+.switch-label,
  #switch:active+.switch-label {
    box-shadow:
      -.1rem -.1rem 0 darken(#444, 10%),
      .1rem .1rem 0 lighten(#444, 10%),
      0 0 0 .2rem darken(#444, 20%),
      .1rem .1rem 0 .2rem #444;
  
    &:after {
      background: lighten(#0f0, 20%);
      box-shadow:
        0 0 1.2rem 0 rgba(#0f0, 1);
    }
  }
  
  .scanlines {
    position: relative;
    overflow: hidden;
  
    &:before,
    &:after {
      display: block;
      pointer-events: none;
      content: '';
      position: absolute;
    }
  
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $scan-width * 1;
      z-index: $scan-z-index + 1;
      opacity: $scan-opacity;
    }
  
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $scan-z-index;
    }
  }
  #switch~.screen {
    background: #111;
  
    &.scanlines {
      &:before,
      &:after {
        animation: none;
      }
    }
    >.contents {
      animation: crt-power-off .55s forwards ease-in-out;
    }
  }
  #switch:checked~.screen {
    &.scanlines {
      &:before {
        background: $scan-color;
        @include scan-moving($scan-moving-line);
      }
      &:after {
        background: linear-gradient(
          to bottom,
          transparent 50%,
          $scan-color 51%
        );
        background-size: 100% $scan-width * 2;
        @include scan-crt($scan-crt);
      }
    }
    >.contents {
      animation: crt-power-on 4s forwards linear;
    }
  }
  
  @keyframes scan-moving {
    0% {
      transform: translate3d(0,100vh,0);
    }
  }
  
  @keyframes scan-crt {
    0% {
      background-position: 0 50%;
    }
  }
  
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  
  @keyframes crt-power-on {
    0% {
      transform:
        scale(1,0.8)
        translate3d(0,0,0);
      filter: brightness(30);
      opacity: 1
    }
    3.5% {
      transform:
        scale(1,0.8)
        translate3d(0,100%,0);
    }
    3.6% {
      transform:
        scale(1,0.8)
        translate3d(0,-100%,0);
    }
    9% {
      transform:
        scale(1.3,0.6)
        translate3d(0,100%,0);
    }
    11% {
      transform:
        scale(1,1)
        translate3d(0,0,0);
      filter:
        contrast(0)
        brightness(0);
      opacity: 0;
    }
    100% {
      transform:
        scale(1,1)
        translate3d(0,0,0);
      filter:
        contrast(1)
        brightness(1.2)
        saturate(1.3);
      opacity: 1;
    }
  }
  
  @keyframes crt-power-off {
    0% {
      transform:
        scale(1,1.3)
        translate3d(0,0,0);
      filter: brightness(1);
      opacity: 1;
    }
    60% {
      transform:
        scale(1.3, 0.001)
        translate3d(0,0,0);
      filter: brightness(10);
    }
    100% {
      transform:
        scale(0.000, 0.0001)
        translate3d(0,0,0);
      filter: brightness(50);
    }
  }