@use 'variables' as *;
@use 'type';
@use 'objects';
@use 'components/header';
@use 'components/img';
@use 'components/modal';
@use 'components/cursor';
@use 'components/reel';
@use 'components/project-list';
@use 'components/scroll';
@use 'components/menu';
@use 'utils';


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: $font-family-body;
    font-size:16px;
    color:$text;
    margin:0;
    background-color: aliceblue;
}

.postImage{
    padding-bottom:55%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background:red;
}


.postop{
    position:fixed;
    top:0;
    left:0;
    padding:10px;
    z-index:9999;
    font-size: 14px;
    background:red;
}

.postop2{
  position:fixed;
  top:60px;
  left:0;
  padding:10px;
  z-index:9999;
  font-size: 14px;
  background:red;
}

.header{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
}

.layout{
 //   padding-top:90px;
}






  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
     pointer-events: none;
  } 


  .lenis.lenis-stopped {
    overflow: hidden;
  }


// h1{
//   font-size:3rem;
// }

// h1 span span {
//   position: relative;
//   display: inline-block;
//  // animation: move-text-color 0.9s forwards cubic-bezier(0.37, 0, 0.63, 1);
//   opacity: 0;
//   transform-style: preserve-3d;
//   transform-origin: 0 100%;
//   right:-20px;
//   transition: transform 2s ease;
//   color:red;
//   display:inline-block;
//   margin-right:20px;

// text-shadow: -1px 39px 49px -12px rgba(117, 108, 255, 0.5);
// }


@keyframes move-text-color {
  
  0% {
    opacity: 0;
    color: #3E5C76;
    right:-20px;
     transform:scaleY(1) rotate(3deg);     
  }

  50% {
    color: #EC058E;

  }


  70%{
    transform: scaleY(0.9); 
  }

  100% {
    opacity: 1;
    color: #000;
    right:0px;
   transform: scaleY(1) rotate(0deg); 
  }

}
.content{
  max-width: 70vw;
  height: auto;
  margin: auto;
  //  animation: move-cont 1.5s forwards cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 3s ease;
  perspective: 682px;
  perspective-origin: 50% 50%;
}

@keyframes move-cont {

  0% {
  transform: scaleX(1.2) translate(60px, -60px) skew(0deg, 12deg); 
  }

  100% {
  transform: scaleX(1) translate(0, 0) skew(0, 0);
  }


}




#globalLoader{
  position: fixed;
  z-index: 1700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hotpink;
  display: flex;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.no-scroll {
  overflow: hidden;
}


// ::-webkit-scrollbar {
//   display: none;
// }
// * {
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }

// .scrollable-wrapper{
//   position: fixed;
//     inset: 0;
//     z-index: 1;
//     height: 100%;
//     padding: 12.2222222222vh 13.9583333333vw;
//     display: flex;
//     transition: opacity .5s var(--ease-out-expo),transform .5s var(--ease-out-expo);
// }
.scrollable,body{
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none !important;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  // fix bottom gradient
  padding-bottom: desktop-vh(40px);
  }


  .work{
  border:10px blue solid;
  }

  .work--exit{
    border:10px red solid;
  }


  .text-anim-wrap{
    perspective: 3.5em;
    transform-style: preserve-3d;
    line-height: 0.8;
    text-align: center;
  }
  .text-anim{
    position: relative;
    display: inline-block;
    transform-origin: top;
    perspective: 3.5em;

  }

  .work-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  //  grid-auto-rows:calc(100vh - 150px), 32, 32vh, 32vh, 32vh, 64vh,64vh;
    grid-template-rows: calc(100vh - 150px)  ;
    //grid-template-rows: calc(100vh - 150px) auto auto auto auto;

    counter-reset:div;
  }

  .item {
  //  border: solid;
  //  display:flex;
    grid-column: auto /span 12;
    grid-row: auto /span 1;
  }

  .item:nth-child(4n + 5),
  .item:nth-child(4n + 6),
  .item:nth-child(4n + 8),
  .item:nth-child(4n + 8){
border: solid red;
  grid-column: auto /span 4;
  grid-row: auto /span 1;
  }



.item:nth-child(4n + 4){
border: solid royalblue;
grid-column: auto /span 8;
grid-row: auto /span 2;
}

//   .item:nth-child(3n+3){
//   grid-column: auto /span 8;
//   grid-row: auto /span 2;
// }

// .item:nth-child(3n+4){
//   grid-column: auto /span 4;
//   grid-row: auto /span 1;
// }

// .item:nth-child(3n+5){
//   grid-column: auto /span 4;
//   grid-row: auto /span 1;
// }

.item:before {
  position: absolute;
  top:0;
  left:0;
  counter-increment:div;
  content:counter(div);
  margin:auto;
  font-size:40px;
  z-index:999;
  color:hotpink;
}