@use "variables" as *;
@use "type" as *;


.u-fs--title {
   @extend h1;
}

.u-t--title{
  @extend h1;
}

.u-t--subtitle{
  @extend h2;
  color:$primary4;
}

.u-t--link{
  @extend h3;
  color:$action;
  text-decoration: none;
}


.u-fs--lead {
  margin-bottom:0 0 2rem;
  font-size: 1.6rem;
  line-height: 1.39;
  font-weight: 500;
}

.u-fs--caption {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.48;
  text-decoration: none;
  margin: 0;
}

.u-fs--body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.u-t--bold,
strong {
  font-weight: bold;
}



.u-c {
  &--inv {
    color: #fff;
  }
  &--light {
    color: #999;
  }
  &--med {
    color: #555;
  }
  &--dark {
    color: #222;
  }
  &--brand {
    color: $action;
  }
}

// use map of spacing vars from setting.global.scss
$spacing: (
  0,
  2,
  4,
  8,
  12,
  16,
  20,
  24,
  32,
  40,
  48,
  64,
  72,
  80
); // Adjust this to include the pixel amounts you need.


$spacingRem: (
  1,
  2,
  3,
  4,
  5,
  6,
); // Adjust this to include the pixel amounts you need.

$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spacing {
  @each $side in $sides {
    .u-m#{str-slice($side, 0, 1)}--#{$space} {
      margin-#{$side}: #{$space}px;
    }
    .m#{str-slice($side, 0, 1)}--#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .u-p#{str-slice($side, 0, 1)}--#{$space} {
      padding-#{$side}: #{$space}px;
    }
    .p#{str-slice($side, 0, 1)}--#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

@each $space in $spacingRem {
  @each $side in $sides {
    .u-#{str-slice($side, 0, 1)}--#{$space} {
      #{$side}: #{$space}rem;
    }
  }
}

.flex{
  display:flex;

  .flex-1{
    flex:1 1 0%;
  }
}

