:root {
    /* Default theme (tokyo) */
  --body-background-color: #F8FBF8;
  --background-color: #F7FCFE;
  --surface1: #F8FBF8;
  --surface2: #F7FCFE;
  --surface3: #C0C6C9;
  --background-color-inv: #C0C6C9;
  --heading-color: #887F7A;
  --text-color: #887F7A;
  --subtext-color: #C0C6C9;
  --text-color-inv: #887F7A;
  --accent: #BED3CD;
  --accent-pri: #EF7801;
  --accent-sec: #FCD00A;
  --text-accent: #BED3CD;
  --mix-blend-mode: luminosity;
  --nav-bg: #F8FBF8;
  --button-default-bg:var(--nav-bg);
  --button-default-text:var(--text-color);
  --button-primary-bg:var(--accent-pri);
  --button-primary-text:var(--text-color-inv);
  --button-secondary-bg:var(--accent-sec);
  --button-secondary-text:var(--text-color-inv);
  --font-family-primary: 'Arial', sans-serif;
  --font-family-secondary: 'Georgia', serif;
  --menu-width-xs:300px;
}
